<!DOCTYPE html>
<html>
	<head>
		<title>Kontroll</title>
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<script src="/static/jquery-1.7.1.min.js"></script>
		<script src="/static/client.js"></script>
		<link rel="stylesheet" href="/static/client.css" type="text/css" />
		<script type="text/javascript" src="http://cdn.beaconpush.com/clients/client-1.js"></script>
		<script type="text/javascript">
			kontroll.beaconKey = "{{ beacon_key }}";
		</script>	
	</head>
	<body>
		<div id="sync">
			<h1>Sync</h1>
			<input id="sync_code" type="number" min="100000" max="999999" pattern="\d*"></input>
			<button id="do_sync">Sync</button>
		</div>
		<div id="client">
			<button class="playstate" id="playstate_previous"  	data-playstate="previous">&lt;&lt;</button>
			<button class="playstate" id="playstate_play"  		data-playstate="play">Play</button>
			<button class="playstate" id="playstate_pause" 		data-playstate="pause">Pause</button>
			<button class="playstate" id="playstate_next"  		data-playstate="next">&gt;&gt;</button>
			<div id="song">
				<span id="song_track">Track</span>
				-
				<span id="song_artist">Artist</span>
				(<span id="song_album">Album</span>)
			</div>
		</div>
	</body>
</html>